<?xml version="1.0"?>
<configuration>
  <location path="CommonMasterEntryPage.aspx" >
    <system.web>
      <authorization>
        <allow roles="Certification_Admin,Admin,FilingAdmin,FilingSuperAdmin,ContractAdmin,CircularAdmin,CompLtgnAdmin,SecretarialDeptAdmin,HelpDeskAdmin,Advt_Admin,TaskTracker_Admin,Outward_Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewCircularMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="CircularAdmin,CircularUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EditCircular.aspx">
    <system.web>
      <authorization>
        <allow roles="CircularAdmin,CircularUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CircularReportList.aspx">
    <system.web>
      <authorization>
        <allow roles="CircularAdmin,CircularUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CommonSubmission.aspx">
    <system.web>
      <authorization>
        <allow roles="FilingAdmin,FilingSuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CommonSubmissionEditDelete.aspx">
    <system.web>
      <authorization>
        <allow roles="FilingAdmin,FilingSuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EventInstances.aspx">
    <system.web>
      <authorization>
        <allow roles="FilingAdmin,FilingSuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EventInstancesEditDelete.aspx">
    <system.web>
      <authorization>
        <allow roles="FilingAdmin,FilingSuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NewsTicker.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MISReports.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SubmissionCheckListForAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="FilingAdmin,FilingSuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HelpdeskTAT.aspx">
    <system.web>
      <authorization>
        <allow roles="HelpDeskAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HelpdeskTATLegal.aspx">
    <system.web>
      <authorization>
        <allow roles="LegalHDModerator,LegalHDResolver"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CircularMasters.aspx">
    <system.web>
      <authorization>
        <allow roles="CircularAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SubmissionsOperations.aspx">
    <system.web>
      <authorization>
        <allow roles="FilingAdmin,FilingSuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EditSubmissions.aspx">
    <system.web>
      <authorization>
        <allow roles="FilingAdmin,FilingSuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ViewSubmissions.aspx">
    <system.web>
      <authorization>
        <allow roles="FilingAdmin,FilingSuperAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>